<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="database" value="GNCSB"/>
    <add key="parent" value="EMPLOYEES"/>
    <add key="child" value="ADRESS"/>
    <add key="parentColumn" value="NID"/>
    <add key="childColumn" value="NID"/>

    <!--
    <add key="database" value="GNCSB"/>
    <add key="parent" value="DEPARTMENTS"/>
    <add key="child" value="EMPLOYEES"/>
    <add key="parentColumn" value="DID"/>
    <add key="childColumn" value="DID"/>
    -->
  </appSettings>

</configuration>