<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

<!--    <add key="parentTable" value="Category"/>-->
<!--    <add key="parent_category_select" value="select * from Category"/>-->
<!--    <add key="parent_category_id" value="id"/>-->
<!---->
<!--    <add key="childTable" value="Participants"/>-->
<!--    <add key="child_participants_select" value="select * from Participants"/>-->
<!--    <add key="child_category_id" value="categoryId"/>-->

    <add key="parentTable" value="Insurance"/>
    <add key="parent_category_select" value="select * from Insurance"/>
    <add key="parent_category_id" value="id"/>

    <add key="childTable" value="Participants"/>
    <add key="child_participants_select" value="select * from Participants"/>
    <add key="child_category_id" value="insuranceId"/>
  
  </appSettings>
  
</configuration>