<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="database" value="GNCSB"/>
    <add key="parent" value="EMPLOYEES"/>
    <add key="child" value="ADRESS"/>
    <add key="column" value="NID"/>
    <!--
    <add key="database" value="G"/>
    <add key="parent" value="Pizza Delivery"/>
    <add key="child" value="Pizza Delivery"/>
    <add key="column" value="Pizza Delivery"/>
     -->
  </appSettings>

</configuration>